html
    head
        title= title
    body
        h1= message
        nav
            a(href="#home")='home'
            a(href="#new")='new'
            a(href="#about/qqq/p9")='about'
        section
        script(data-main="/js/index/index.js", src="/js/common/require.min.js")